<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hayahuletbole.bole22">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bole22"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:enabled="true">

        <activity
            android:name="com.hayahuletbole.bole22.ShopPortalActivity"
            android:theme="@style/Theme.AppCompat.ShopPortal22BoleTheme">

            <intent-filter android:label="@string/__22bole">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hayahuletbole.bole22.JobsPortalActivity"
            android:parentActivityName="com.hayahuletbole.bole22.ShopPortalActivity"
            android:theme="@style/JobsPortal22BoleTheme">
            <intent-filter android:label="@string/__22bole">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.22bole.com"
                    android:pathPrefix="/JobsPortal"
                    android:scheme="http" />

            </intent-filter>
        </activity>

        <activity
            android:name="com.hayahuletbole.bole22.BusinessPortalActivity"
            android:parentActivityName="com.hayahuletbole.bole22.ShopPortalActivity"
            android:theme="@style/BusinessPortal22BoleTheme">

            <intent-filter android:label="@string/__22bole">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.22bole.com"
                    android:pathPrefix="/businessportal"
                    android:scheme="http" />

            </intent-filter>
        </activity>
    </application>

</manifest>